﻿@using Sitecore.Mvc
@model RenderingModel

<p>Check out our featured product: @Html.Sitecore().Field("Name", Html.Sitecore().CurrentItem) by <em>@Html.Sitecore().Field("Brand", Html.Sitecore().CurrentItem)</em></p>
<a class="btn btn-primary" href='@Url.Content("~/products/" + Html.Sitecore().CurrentItem.Name)' role="button">Discover</a>