﻿@using Sitecore.Mvc
@model RenderingModel

@* Example of a View Rendering *@

<div class="jumbotron">
    <h1>@Html.Sitecore().Field("Main Title", Model.Item)</h1>
    <p>@Html.Sitecore().Field("Main Description", Model.Item)</p>
    @Html.Sitecore().Placeholder("Jumbotron.Content")
</div>