﻿@using Sitecore.Web.UI.WebControls

@{
    var database = Sitecore.Context.Database;
    var item = database.GetItem("/sitecore/content/Home");
    var companyName = FieldRenderer.Render(item, "Company Name");
}

<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">@Html.Raw(companyName)</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="~/">Home</a></li>
                <li><a href="~/mvc">Traditional MVC</a></li>
            </ul>
        </div>
    </div>
</nav>