﻿@using Sitecore.Mvc
@model RenderingModel

<div>
    <h1>@Html.Sitecore().Field("Name") <small>Product details</small></h1>
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Sitecore name</th>
                <td>@Html.Sitecore().CurrentItem.Name</td>
            </tr>
            <tr>
                <th scope="row">Price</th>
                <td>€ @Html.Sitecore().Field("Price")</td>
            </tr>
            <tr>
                <th scope="row">Family</th>
                <td>@Html.Sitecore().Field("Family")</td>
            </tr>
            <tr>
                <th scope="row">Brand</th>
                <td>@Html.Sitecore().Field("Brand")</td>
            </tr>
        </tbody>
    </table>
</div>