﻿@model List<SitecoreSample.Models.Product>

@* Example of a Controller Rendering *@

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-xs-12 col-lg-4">
            <h2>@product.Name <span class="label label-primary small">€ @product.Price</span></h2>
            <p>by <em>@product.Brand</em></p>
            <p><a class="btn btn-default" href='@Url.Content("~/products/" + product.SitecoreName)' role="button">View details &raquo;</a></p>
        </div>
    }
</div>