﻿@model RenderingModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Sitecore().Placeholder("Navigation")

<div class="container">

    <div class="row">

        <div class="col-xs-12">
            @Html.Sitecore().Placeholder("Content")
        </div>

    </div>

    <hr>

    <footer class="page-footer">
        <p>&copy; @Html.Sitecore().Field("Company Name", Model.Item) @DateTime.Now.Year</p>
    </footer>

</div>