﻿@using Sitecore.Web.UI.WebControls
@model RenderingModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    var companyName = FieldRenderer.Render(Sitecore.Context.Database.GetItem("/sitecore/content/Home"), "Company Name");
}

@Html.Sitecore().Placeholder("Navigation")

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            @Html.Sitecore().Placeholder("Details")
        </div>
    </div>
    <a href="~/" class="btn btn-primary">&laquo; Back</a>
    <hr>
    <footer class="page-footer">
        <p>&copy; @Html.Raw(companyName) @DateTime.Now.Year</p>
    </footer>
</div>