﻿@model SitecoreSample.Models.SampleModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <blockquote>
                <p>This page was rendered using traditional ASP.NET MVC</p>
                <p>There are @Model.NumberOfProductsInMasterDatabase products in the <em>Master</em> database (unpublished)</p>
                <p>There are @Model.NumberOfProductsInWebDatabase products in the <em>Web</em> database (published)</p>
                <footer>Created at @Model.CurrentTime.ToLongTimeString()</footer>
            </blockquote>

            <a href="~/" class="btn btn-primary">Back</a>    
        </div>
    </div>

</div>